#root {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ChampionCovers {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.ChampionCover {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ChampionCover img {
  display: block;
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 50%;
}
.ChampionCover div {
  margin: 10px;
  font-size: 1.4em;
  text-transform: capitalize;
}

.SkillTable {
  display: flex;
  min-height: 132px;
  align-items: flex-start;
}
.SkillTable div:first-child {
  align-self: flex-end;
}

.SkillTable .indicator {
  align-self: flex-end;
  width: 1px;
  height: 6em;
  background-color: #ececec;
  margin-right: 10px;
  margin-left: 10px;
}

.SkillCooldown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.SkillCooldown .line {
  height: 1.5px;
  width: 100%;
}

.SkillCooldown .SkillName {
  grid-row: 1;
  grid-column: 1/3;
}
